* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Rubik', sans-serif;
    background-color: black;
    color: white;
}
#Scrowup{
    height: 30px;
    background-color: aliceblue;
    position: fixed;
    right: 1px;
    bottom: 1px;
}
#img-logo{
   height: 60px;
   width: 80px;
}
.section-1 {
    /* background-color: aqua; */
    background-image: url(./profile_img.jpg);
    background-size: cover;
    height: 100vh;
}
.section-2 {
    /* background-color: pink; */
    height: 100vh;
    
}
.section-3 {
    /* background-color: rebeccapurple; */
    height: 100vh;
    
}

.nav-div {
    display: flex;
    justify-content: space-between;
    /* background-color: blueviolet; */
    padding-top: 20px;
    font-size: 22px;
    font-weight: 600;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.h-p-a-div {
    width: 50%;
    margin-top: 40px;
}

.a-div {
    width: 400px;
    /* background-color: orange; */
    display: flex;
    justify-content: space-around;
}

.a-tag {
    color: white;
    text-decoration: none;
}
.common-w-m {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}